* {
    margin: 0px;
}
.card {
    margin-top: 80px;
}

#clock {
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 30px;
}



#date {
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


#day {
    font-family: courier, monospace;
    text-align: center;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 30px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#something {
    background-color: rgb(24, 255, 55);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    height: 250px;
}
#something {
    background-color: rgb(24, 255, 55);
    border-radius: 15px;
    padding: 10px;
    padding-top: 30px;
    height: 250px;
}